{% extends 'base.html' %}

{% block content %}
<div class="columns">
    <div class="column is-6 is-offset-3">
        <h1 class="title">Complete Profile</h1>

        <form method="post">
            {% csrf_token %}
            
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    {{ form.username }}
                </div>
            </div>
            
            <div class="field">
                <label class="label">Contact Number</label>
                <div class="control">
                    {{ form.contact_number }}
                </div>
            </div>

            <div class="field">
                <label class="label">Address</label>
                <div class="control">
                    {{ form.address }}
                </div>
            </div>

            <div class="field">
                <label class="label">Zip Code</label>
                <div class="control">
                    {{ form.zip_code }}
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-success">Save Profile</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
