html {
    width: 100%;
    -webkit-text-size-adjust: 100;
    -webkit-background-size: 100%;

}

body {
    width: 100%;
    font-family: arial;
    font-size: 14px;
    background-color: #fff;
    color: #333;
}

a  {
    color: 111;
}